.row{
    padding : 1rem 0rem;
}

.card{
    background: transparent;
    border:none;
}

.progress{
    background-color: rgba(45, 45, 45, 0.54);
}

.progress-bar{
    background-color: #431768;
}

.btn-primary{
    background-color: #AEB54C;
    border:none;
}

.card-text{
    font-size:0.8rem;
}